.presetItems{
    margin:5px;
}
.presetGloves{
    margin-top: 230px;
}
.presetTab{
    background-image:url('/resource/backgrounds/background2.jpg');
    opacity: 0.9;
    color:white;
    border-radius: 4px;
    background-size: 170%; 
    background-repeat: no-repeat;
}
.presetInfo{
    height:202px;
    text-shadow: 0px 4px 6px rgb(36, 33, 32);
	text-transform: uppercase ;
	font-weight: bold;
    margin-top: 25px;
}