# This is a basic workflow to help you get started with Actions

name: Deploy to Org

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so the job can access it
      - uses: actions/checkout@v2

      # Setup Node
      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: '14'
    
      # Install SFDX CLI
      - name: Install SFDX CLI
        run: npm install sfdx-cli --global
        
      # Authorize SF Org
      - name: Authorize SF Org
        env:
          CLIENT_ID: ${{ secrets.SALESFORCEPRODCLIENTID }}
          USERNAME: ${{ secrets.SALESFORCEPRODUSERNAME }}
          INSTANCE_URL: ${{ secrets.SALESFORCEPRODINSTANCEURL }}
        run: sfdx force:auth:jwt:grant --clientid $CLIENT_ID --jwtkeyfile ./buildfiles/server.key --username $USERNAME --instanceurl $INSTANCE_URL -a prod

      #Create scratch org
      - name: 'Create scratch org'
        run: 'sfdx force:org:create -f config/project-scratch-def.json -a scratch-org -s -d 1 -v $USERNAME'

      #Deploy source to scratch org
      - name: 'Deploy source to scratch org'
        run: 'sfdx force:source:push'

      # Assign permissionset
      - name: 'Assign permission set to default user'
        run: 'sfdx force:user:permset:assign -n recipes'
      
      # Run Apex tests in scratch org
      - name: 'Run Apex tests'
        run: 'sfdx force:apex:test:run -c -r human -d ./tests/apex -w 20'

      # Delete scratch orh
      - name: 'Delete scratch org'
        if: always()
        run: 'sfdx force:org:delete -p -u scratch-org'  

      # Convert to Deploy Source
      - name: Convert to Deploy Source
        run: sfdx force:source:convert -r ./force-app -d ./toDeploy
    
      # Run Validation of Deploy Source
      - name: Run Validation on Deploy Source
        run: sfdx force:mdapi:deploy -l RunLocalTests -c -d ./toDeploy -u prod -w 10
    
      # Deploy
      - name : Deploy to SF Org
        run: sfdx force:mdapi:deploy -l RunLocalTests -d ./toDeploy -u prod -w 10  
